### Higher Order Functions: 

Takes a function as an argument or returns a function as the result
    - Sorted takes in a list (iterable?) and allows for a key argument which can be a function. 
    - Below we pass in len, to sort by length

In [2]:
>>> fruits = ['strawberry', 'fig', 'apple', 'cherry', 'raspberry', 'banana']
>>> sorted(fruits, key=len)

['fig', 'apple', 'cherry', 'banana', 'raspberry', 'strawberry']

In [3]:
>>> def reverse(word):
...     return word[::-1]
>>> reverse('testing')
'gnitset'
>>> sorted(fruits, key=reverse)

['banana', 'apple', 'fig', 'raspberry', 'strawberry', 'cherry']

### Replacements for map, filter, reduce: 

We can lean on various comprehesions and generator expressions.

In [6]:
def factorial(n): 
    """returns n!"""
    return 1 if n < 2 else n * factorial(n - 1)

In [11]:
list(map(factorial, range(6))) # map lets us apply function across an iterable

[1, 1, 2, 6, 24, 120]

In [9]:
[factorial(n) for n in range(6)] # list comp does the same, but is a bit easier to read

[1, 1, 2, 6, 24, 120]

In [12]:
# more complex:
# pass the factorial function via map to the iterable that comes out of our filter
# filter is going to apply an anonymous func to the iterable range(6) -> yielding only items with a remainder of 1 (odd))
list(map(factorial, filter(lambda n: n % 2, range(6))))

[1, 6, 120]

In [16]:
[factorial(n) for n in range(6) if n % 2]  # much cleaner

[1, 6, 120]

#### We can also use find other ways than reduce

Example below shows how reduce was being used to stack each subsequent element to a total. But we can get the same result with sum

The idea of each is to apply some operation to successive items in a sequence, accumulating previous results and reducing a sequence of values to a single value.

In [19]:
from functools import reduce 
from operator import add
reduce(add, range(100))

4950

In [20]:
sum(range(100))

4950

#### Or Leaning on the operator Module

Below is an example of solving factorial with function programming instead of using recursion.

In [21]:
from functools import reduce

def factorial(n):
    return reduce(lambda a, b: a*b, range(1, n+1))

In [22]:
from functools import reduce
from operator import mul

def factorial(n):
    return reduce(mul, range(1, n+1)) # yields same output as above

Another cool trick - we can sort a list of tuples by a specific element of the tuple

In [24]:
>>> metro_data = [
...     ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
...     ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
...     ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
...     ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
...     ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
... ]
>>>
>>> from operator import itemgetter
>>> for city in sorted(metro_data, key=itemgetter(1)): # sort by the second element
...     print(city)

('São Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))

### functools.partial

given a callable, produce a new callable with some of the arguments of the original callable bound to pre-determined values.

In [31]:
>>> from operator import mul
>>> from functools import partial
>>> triple = partial(mul, 3) # bind first positional argument to 3...

In [32]:
triple(7)

21

In [33]:
list(map(triple, range(1, 10)))

[3, 6, 9, 12, 15, 18, 21, 24, 27]